.widget {
  display: flex;
  flex-direction: column;
  margin: calc(var(--ring-unit) / 2);
}

ul{
  list-style: none;
  padding-left: 20px;
}

li{
  list-style: none;
  margin: 5px 0 5px 0 ;
  padding: 0;
}

.text-container {
  margin-right: 5px;
}
